root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true

[*.{json},App.config]
trim_trailing_whitespace = true
indent_size = 2

[*.{yaml,yml}]
trim_trailing_whitespace = true
indent_size = 2

[*.csproj]
indent_size = 2
